<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.melik.deneme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userPage"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.USERPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".isverenPage"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="view.holder.ISVERENPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userIndex"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="view.holder.USERINDEX" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ayarlar"
            android:label="@string/title_activity_ayarlar"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>